body {
  background-color: hsl(225, 100%, 94%);
}
.container {
  background-image: url(../images/pattern-background-desktop.svg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  background-color: white;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-height: 650px;
  /* object-fit: contain; */
}
.hero {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
p {
  font-family: "Red hot display", sans-serif;
  font-size: 18px;
}
.order {
  font-weight: 900;
}
.plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  justify-content: center;
  flex-direction: row;
  height: auto;
  align-items: center;
  border-radius: 20px;
  max-width: 100%;
}
.change {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  justify-content: center;
}
.icon {
  display: flex;
  margin-right: auto;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.price {
  margin: 0 100px 0 auto;
  font-weight: 700;
}
.p1,
.description {
  font-weight: 500;
}
button {
  padding: 10px;
  width: 80%;
  align-content: center;
  margin: 0;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: hsl(245, 75%, 52%);
  margin: 30px 0 5px 0;
  font-size: 17px;
  font-weight: 700;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10x;
}
.cancel {
  text-decoration: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: medium;
  font-family: "Red hot display", sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 400px) {
  .container {
    background-image: url(../images/pattern-background-mobile.svg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* object-fit: contain; */
  }
}
